<%- model_class = Company -%>
<div class="page-header">
  <h1><%= @company.name %></h1>
  <% if @company.logo.exists? %>
      <%= image_tag @company.logo.url(:thumb) %>
  <% end %>
</div>


<div class="row">
	<!--<div class="span4">
		<table class="table">
			<thead>
				<tr>
					<th colspan="2">Subscription</th>
				</tr>
			</thead>
			<tbody>
            <% if @company.subscription && @company.subscription.is_valid?  %>
				<tr>
					<td>Plan</td>
					<td><%= @company.subscription.plan.name %></td>
				</tr>
				<tr>
					<td>Expires at</td>
					<td><%= l @company.subscription.expires_at.to_date %></td>
				</tr>
                <tr>
                  <td><%= link_to 'Edit Subscription', edit_admin_subscription_path(@company.subscription), :class => 'btn' %></td>
                  <td><%= link_to 'Close Subscription', close_admin_subscription_path(@company.subscription), :method => 'put', :class => 'btn btn-danger'%></td>
                </tr>

            <% else %>
                <tr>
                  <td colspan="2">
                    <%= link_to 'Create Subscription', new_admin_subscription_path(:company_id => @company.id), :class => 'btn' %>
                  </td>
                </tr>
            <% end %>
			</tbody>
		</table>
	</div>----->

	<div class="span8">
		<table class="table" width="100%">
			<thead>
				<!--<tr>
					<th colspan="4">Users</th>
				</tr>-->
				<tr>
					<td>Name</td>
					<td>Email</td>
					<!--<td>API Token</td>-->
					<td>Mobile Number</td>
					<td>Website</td>
					<td>Username</td>
					<td>Password</td>
					<td>Facebook Address</td>
					<td>BSSID</td>
					<td>Description</td>
					<td>Category</td>
                    <td>&nbsp;</td>
				</tr>
			</thead>
			<tbody>
           
	<% if @company.name.empty? %>
                <tr>
                  <td colspan="4">
                    Empty.
                  </td>
                </tr>
            <% end %>
           
		<tr>
					<td><%= @company.name %><td>
					<td><%= @company.email %></td>
					<td><%= @company.phone %></td>
					<td><%= @company.website %></td>
					<td><%= @company.username %></td>
					<td><%= @company.pwd %></td>
					<td><%= @company.fb_address %></td>
					<td><%= @company.bssid %></td>
					<td><%= @company.description %></td>
					<td><%= @company.category.nil? ? '': @company.category.name %></td>
					<td>
                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="icon-cog"></i>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
				<!-- <%#= link_to edit_admin_user_path(u) do %> -->
                            <%= link_to edit_admin_company_path(@company) do %>                           
                                <i class="icon-edit"></i>
                                Edit
                            <% end %>
                          </li>
                          <li>
                            <%= link_to admin_company_path(@company), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you :sure?')) } do %>
                                <i class="icon-remove"></i>
                                Delete
			    <% end %>
	                 </li>
                        </ul>
                      </div>

					</td>
				</tr>
	</tbody>
		</table>
	  </div>

</div>
