<%= form_for(@availed_offer) do |f| %>
  <% if @availed_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availed_offer.errors.count, "error") %> prohibited this availed_offer from being saved:</h2>

      <ul>
      <% @availed_offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :offer %><br>
    <%= f.text_field :offer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
