<h1>Listing availed_offers</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Offer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @availed_offers.each do |availed_offer| %>
      <tr>
        <td><%= availed_offer.customer %></td>
        <td><%= availed_offer.offer %></td>
        <td><%= link_to 'Show', availed_offer %></td>
        <td><%= link_to 'Edit', edit_availed_offer_path(availed_offer) %></td>
        <td><%= link_to 'Destroy', availed_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Availed offer', new_availed_offer_path %>
