<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @availed_offer.customer %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @availed_offer.offer %>
</p>

<%= link_to 'Edit', edit_availed_offer_path(@availed_offer) %> |
<%= link_to 'Back', availed_offers_path %>
