<div class='row'>
  <div id="login" class="well span4 offset4">

    <%= image_tag 'mobile-gullak.png' %>

    <br/>

    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
        <fieldset>
	  <div class="form-inputs">
            <%= f.input :password, :autofocus => true, :label => 'New password' %>
	    <%= f.input :password_confirmation, :label => 'Confirm new password' %>
	    <%= f.hidden_field :reset_password_token %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Change my password", :class => 'btn ' %>
          </div>
        </fieldset>
    <% end %>

  </div>
</div>
