<div class='row'>
  <div id="login" class="well span4 offset4">

    <%= image_tag 'mobile-gullak.png' %>

    <br/>

    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
        <fieldset>
          <div class="form-inputs">
            <%= f.input :email, :autofocus => true, :label => 'Email' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", :class => 'btn ' %>
          </div>
        </fieldset>
    <% end %>

  </div>
</div>
