.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag(asset_path('logo.png'), :width => 32, :height => 32), root_path, :class => 'brand2'
      %ul.nav
        - %w[Dashboard Configuration API].each do |action|
          - klass = current_page?(:controller => :panels, :action => action.downcase)? 'active': ''
          %li{:class => "#{klass}"}
            = link_to action, :controller => :panels, :action => action.downcase

      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{:href => '#', 'data-toggle' => :dropdown} 
            = current_user.username.nil?? current_user.email: current_user.username.capitalize
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => destroy_user_session_path, :rel => :nofollow, 'data-method' => :delete, 'data-skip-pjax' => true }
                Sign out



