.navbar.navbar-fixed-top
  .navbar-inner
    .container
      -#= link_to image_tag(asset_path('logo.png'), :width => 32, :height => 32), root_path, :class => 'brand2'
      %ul.nav

      %ul.nav.pull-right
