- company = nil
- company ||= @company if @company
- company ||= @offer.company if @offer
- company ||= @location.company if @location

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag(asset_path('logo.png'), :width => 32, :height => 32), root_path, :class => 'brand2'
      %ul.nav
        - %w[Dashboard Reports Campaigns].each do |action|
          - klass = 'active' if safe_current_page?(:controller => :merchants, :action => action.downcase)

          %li{:class => "#{klass}"}
            = link_to action, url_for(:controller => :merchants, :action => action.downcase, :id => company.id)

      %ul.nav.pull-right
        - if company
          %li
            %span
              = link_to 'Create Offer', new_company_offer_path(company), :class => 'btn btn-warning'
          - if current_user.admin
            %li.dropdown
              %a.dropdown-toggle{:href => '#', 'data-toggle' => :dropdown}
                = current_user.username.nil?? current_user.email: current_user.username.capitalize
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Admin Panel', admin_root_path
          - else
            %li
              %a{:href => '#'}
                = current_user.username.nil?? current_user.email: current_user.username.capitalize
          %li.dropdown
            %a.dropdown-toggle{:href => '#', 'data-toggle' => :dropdown}
              = company.name
              %span.caret
            %ul.dropdown-menu
              %li 
                = link_to 'My Account', my_account_merchant_path(company)
              %li
                %a{:href => destroy_user_session_path, :rel => :nofollow, 'data-method' => :delete, 'data-skip-pjax' => true }
                  Sign out
