<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @rating.customer %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
