<li class="span4 offer">

<div>

    <div class="span12 offer-caption ">
        <span class="validity"> OFFER VALID UNTIL <%= l offer.period_end.to_date %> </span>
        <div class="pull-right"><%= render :partial => 'offer_menu', :locals => { :offer => offer } %></div>
        <div class="offer-title"><%= offer.short_title %></div>
	</div>

    <div class="span12 offer-content">
        <div class="span3 pull-left">
            <% if offer.image.exists? %>
                <%= image_tag offer.image.url(:thumb) %>
            <% else %>
                <%= image_tag offer.company.logo.url(:thumb) %>
            <% end %>
        </div>

        <div class="span5 description">
            <%= offer.description %>
        </div>

        <% if offer.kind == 'percent_discount' %>
            <div class="span3 pull-right">
                <span class="offer-badge">-<%= offer.percent_discount %>%</span>
            </div>
        <% end %>
	</div>

    <div class="span12 offer-timetable">
        <%= render :partial => 'offer_timetable', :locals => {:offer => offer } %>
    </div>

    <div class="span12 offer-locations">
        <%= render :partial => 'offer_locations', :locals => { :offer => offer } %>
    </div>

</div>
</li>
