<div class="btn-group pull-right">

  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-cog"></i>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu">
    <li>
      <%= link_to report_offer_path(offer) do %>
          <i class="icon-tasks"></i>
          Show Report
      <% end %>
    </li>
    <li>
      <%= link_to edit_offer_path(offer) do %>
          <i class="icon-edit"></i>
          Edit
      <% end %>
    </li>
    <li>
      <%= link_to close_offer_path(offer),
                  :method => :put,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to close this offer?')) } do %>
          <i class="icon-remove"></i>
          Close
      <% end %>
    </li>
  </ul>
</div>