<% unless offer.use_location_hours %>
    <% days = [:mon, :tue, :wed, :thu, :fri, :sat, :sun] %>
    <table>
      <thead>
        <tr>
          <% days.each do |d| %>
              <td width="14.25%"><%= d.to_s.upcase %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% days.each do |d| %>
            <td><%= timetable_hour_range(offer.time_table, d) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
<% end %>