<ul class="locations">
  <% offer.all_locations.each do |location| %>
    <li>
        <ul class="location">
          <li class="i1">
            <%= location.name %>
          </li>
          <li class="i2">
            <%= location.formatted_address %>
          </li>
          <li class="i3">
            <%= location.phone %>
          </li>
        </ul>
    </li>
  <% end %>
</ul>