<div class="row">
  <div class="span4">
    <table class="table">
      <thead>
      <tr>
        <td>&nbsp;</td>
        <td>Last 7 Days</td>
        <td>Yesterday</td>
        <td>Today</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Offers</td>
        <% @stats[:offers][:total].each do |day, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <td><span class="label">Viewed</span></td>
        <% @stats[:offers][:viewed].each do |day, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <td><span class="label label-info">Claimed</span></td>
        <% @stats[:offers][:claimed].each do |day, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <td>Redemption</td>
        <% @stats[:redemptions][:total].each do |day, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <td><span class="label">Viewed</span></td>
        <% @stats[:redemptions][:viewed].each do |day, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <td><span class="label label-info">Redeemed</span></td>
        <% @stats[:redemptions][:claimed].each do |day, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
    </table>
  </div>


  <div class="span4 offset2">
    <table class="table">
      <thead>
      <tr>
        <td>Subscription</td>
        <td>Valid Until</td>
      </tr>
      </thead>
      <tbody>
      <% if @company.subscription %>
          <tr>
            <td><%= @company.subscription.plan.name %></td>
            <td><%= l @company.subscription.expires_at.to_date %></td>
          </tr>
      <% else %>
          <tr>
            <td colspan="2">
              &mdash;
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>

<div id="offers-thumbs-section" class="row-fluid">
  <legend>Offers</legend>
  <ul class="thumbnails">
    <% @company.offers.open.each do |offer| %>
        <%= render :partial => 'offer', :locals => {:offer => offer} %>
    <% end %>
  </ul>
  <% if @company.offers.open.empty? %>
	  <p>Empty.</p>
  <% end %>

</div>

