<h1><%= @company.name %></h1>

<div class="row">
  <div class="span3">
    <table class="table">
    <tbody>
        <tr>
          <td>Category</td>
          <td><%= @company.category.name if @company.category %></td>
        </tr>
        <tr>
          <td>Website</td>
          <td><%= @company.website %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @company.phone %></td>
        </tr>
        <% if @company.logo.exists? %>
        <tr>
          <td colspan="2">
            <%= image_tag @company.logo.url(:medium) %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td colspan="2">
            Description
            <br/>
            <%= @company.description %>
          </td>
        </tr>
       <!-- <% if @company.subscription && @company.subscription.is_valid?  %>
        <tr>
          <td>Subscription</td>
          <td><%= @company.subscription.plan.name %></td>
        </tr>
        <tr>
          <td>Valid until</td>
          <td><%= l @company.subscription.expires_at.to_date %></td>
        </tr>
        <% else %>
        <tr>
          <td>Subscription</td>
          <td>&mdash;</td>
        </tr>
        <% end %>-->
    </tbody>
    </table>
    <%= link_to 'Edit', edit_company_path(@company), :class => 'btn' %>
  </div>

  <div class="span8 offset1">
	<div class="text-center">
		<% if @company.locations.empty? %>
		        <%= image_tag 'http://placehold.it/600x400&text=No++Locations+yet.' %>
		<% else %>	
			<%= image_tag static_gmap_url(600, 400, @company.locations) %>
		<% end %>
	</div>
    <br/>
    <br/>
    <table class="table">
      <thead>
        <caption>Locations</caption>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Street</th>
          <th>Zip</th>
          <th>City</th>
          <th>Region</th>
          <th>Offers</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
          <% @company.locations.each_with_index do |location, i| %>
              <tr>
    	        <td><span class="badge badge-important"><%= i + 1 %></span></td>
		<td><%= location.name %></td>
                <td><%= location.street_address %></td>
                <td><%= location.zipcode %></td>
                <td><%= location.city %></td>
                <td><%= location.region %></td>
		<td><%= location.offers_total_count %></td>
		<td>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-cog"></i>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to edit_company_location_path(@company, location) do %>
					<i class="icon-edit"></i>
					Edit
					<% end %>
				</li>
				<li>
					<%= link_to company_location_path(@company, location), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you :sure?')) } do %>
					<i class="icon-remove"></i>
					Delete
					<% end %>
				</li>
			</ul>
		</div>
		</td>
              </tr>
          <% end %>
      </tbody>
    </table>
    <%= link_to 'Add Location', new_company_location_path(@company), :class => 'btn' %>
  </div>

</div>
