<br>
<legend>Open Offers</legend>
<table class="table">
	<thead>
	  <tr>
	    <th>Offer</th>
	    <th>Start Date</th>
	    <th>End Date</th>
	    <th>Duration</th>
	    <th>Viewed</th>
	    <th>Saved</th>
	    <th>Conversion</th>	    
          </tr>
        </thead>
	<tbody>
	<% @offers.each do |o| %>
             <!-- <% viewed = o.events.viewed.count %>
		<% claimed = o.claims.count %> -->
		<% viewed = ViewedOffer.find_by('offer_id =?',o.id).nil? ? 0 : ViewedOffer.where('offer_id =?',o.id).count %>
		<% claimed = AvailedOffer.find_by('offer_id =?',o.id).nil? ? 0 : AvailedOffer.where('offer_id =?',o.id).count %>

		<tr>
		  <td><%= link_to o.short_title, report_offer_path(o) %></td>
		  <td><%= l o.period_start.to_date %></td>
		  <td><%= l o.period_end.to_date %></td>
		  <td><%= distance_of_time_in_words(o.period_start, o.period_end) %></td>
		  <td><%= viewed %></td>
		  <td><%= claimed %></td>
		  <% if claimed > viewed and claimed > 0 %>
			  <td>&gt;<%= number_to_percentage(1, :precision => 2) %></td>
		  <% elsif viewed != 0 %>
			  <td><%= number_to_percentage(claimed / viewed,  :precision => 2) %></td>
		  <% else %>
			  <td><%= number_to_percentage(0,  :precision => 2) %></td>
		  <% end %>
	<% end %>
	<% if @offers.empty? %>
		<tr><td colspan="7">Empty.</td></tr>
	<% end %>

	</tbody>
</table>


