<%= simple_form_for(@company, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
    <div class="row">
      <div class="span6">
        <%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :phone,label: 'Mobile Number' %>
        <%= f.input :website %>
        <%= f.input :username %>
        <%= f.input :pwd, label: 'Password' %>
        <%= f.input :fb_address %>
        <%= f.input :bssid %>
        <%= f.input :description, :input_html => { :rows => 5, :style => "width: 500px"}  %>
        <%= f.association :category %>
      </div>
      <div class="span4">
        <%= f.file_field :logo %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                my_account_merchant_url(@company), :class => 'btn' %>
  </div>
<% end %>
