 <%=simple_form_for :loyalty, url: url_for( :controller => :loyalties, :action => :create ) do |f| %>
      <div class="row-fluid">
      <div class="form-column span6">
        <fieldset>
          <legend>Kind</legend>
          <div class="span12">
            <div class="span12">
                 <% if @loyalty.errors.any? %>
                  <div class="alert alert-block alert-error span11">
                    <ul>
                      <% @loyalty.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            </div>
  <div class="field">
    <%= f.label :kind %><br>
    <!-- <% f.text_field :kind %> -->
    <%= f.input :kind, :as => :radio, :collection => [['Freebies', :freebies], ['Points', :points], ['Discounts', :discounts]], :label => false %>
  </div>
  <div class="actions">
    <!-- <%#= f.submit %> -->
          </div>
  <div class="row-fluid">
      <div classs="span12">
        <div class="form-actions">
          <%= f.hidden_field :company_id %>
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <!-- <%#= link_to t('.cancel', :default => t("helpers.links.cancel")), my_account_merchant_path(@loyalty.company), :class => 'btn' %> -->
        </div>
      </div>
    </div>
<% end %>
</div>
        </fieldset>
      </div>
      </div>
      </div>