<h1>Listing loyalties</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loyalties.each do |loyalty| %>
      <tr>
        <td><%= loyalty.kind %></td>
        <td><%= link_to 'Show', loyalty %></td>
        <td><%= link_to 'Edit', edit_loyalty_path(loyalty) %></td>
        <td><%= link_to 'Destroy', loyalty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loyalty', new_loyalty_path %>
