<div class='row'>
  <div id="login" class="well span4 offset4">

    <%= image_tag 'locha.png' %>

    <br/>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <fieldset>

          <div class="form-inputs">
            <%= f.input :email, :required => false, :autofocus => true, :label => 'Email' %>
            <%= f.input :password, :required => false %>
            <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign in", :class => 'btn btn-warning' %>
          </div>
        </fieldset>
    <% end %>

  </div>
  <div class="span4 offset4">
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  </div>
</div>
