<div class='row'>
  <div id="login" class="well span4 offset4">

    <%= image_tag 'mobile-gullak.png' %>

    <br/>

    <%= simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :method => :put) do |f| %>
	<fieldset>
	  <div class="form-inputs">
		  <%= f.hidden_field :invitation_token %>
		  <%= f.input :password %>
		  <%= f.input :password_confirmation %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Set My Password", :class => 'btn' %>
          </div>
        </fieldset>
    <% end %>

  </div>

</div>
