<div class='row'>
  <div id="login" class="well span4 offset4">

    <%= image_tag 'mobile-gullak.png' %>

    <br/>

    <%= simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :method => :post) do |f| %>
	<fieldset>
	  <%= devise_error_messages! %>

	  <div class="form-inputs">
		  <% resource.class.invite_key_fields.each do |field| -%>
		  <%= f.label field %>
		  <%= f.text_field field %>
		  <% end -%>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Set My Password", :class => 'btn' %>
          </div>
        </fieldset>
    <% end %>

  </div>

</div>
