<%= simple_form_for [:admin, @plan], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :input_html => { :rows => 5, :style => "width: 500px"}  %>
  <%= f.input :active_offers %>
  <%= f.input :max_duration_days %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_configuration_path, :class => 'btn' %>
  </div>
<% end %>
