<%= simple_form_for form_argument, :html => {:class => 'form'} do |f| %>
    <div class="row-fluid">
      <div class="form-column span6">
        <fieldset>
          <legend>Deal</legend>
          <div class="span12">
            <div class="span12">
              <% if @offer.errors.any? %>
                  <div class="alert alert-block alert-error span11">
                    <ul>
                      <% @offer.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            </div>
            <div class="span6">
              <%= f.input :is_redemption, :as => :radio, :collection => [['Offer', false]], :label => false %>
                <div class="checkin">
                  <br/>
                  <label class="checkbox">
                    <%= f.check_box :checkin ,:id => 'checkIn' %> Check-in
                  </label>
                  <div class='checkin_loyalty_benefit' style="display:none;">
                    <%=  f.select :checkin_loyalty_benefit, "<option value='freebies'>Freebies</option><option value='points'>Points</option><option value='discounts'>Discounts</option>".html_safe, multiple: true,:class => "span6"%>
                    <%=  f.input :lb_description ,:label => 'Loyalty benefit Description', :input_html => {:class => "span10"} %>
                  </div>
                  <label class="checkbox">
                    <%= f.check_box :visit_count,:id => 'visit_count' %> Visit Count
                  </label>
                  <div class='vc_loyalty_benefit' style="display:none;">
                     <%=  f.select :vc_loyalty_benefit, "<option value='freebies'>Freebies</option><option value='points'>Points</option><option value='discounts'>Discounts</option>".html_safe, multiple: true,:class => "span6"%>
                     <%=  f.input :visit_count_number ,:label => 'Number Of Visit Counts', :input_html => {:class => "span10"} %>
                  </div>
		  <label class="checkbox">
                    <%= f.check_box :is_onetime %> Allow only once
                  </label>
                </div>
              </div>
              <div class="span6" id='discount_types'>
              <%= f.input :kind, :as => :radio, :collection => [['Price Discount', :price_discount], ['Percent Discount', :percent_discount], ['Free Text', :free_text]], :label => false %>
            </div>
            <div class="span12">
              <div id="offer_price_discount" class="offer_toggle">
                <div class="span3">
                  <%= f.input :normal_price, :input_html => {:class => "input-mini"}, :error => false %>
                </div>
                <div class="span3">
                  <%= f.input :reduced_price, :input_html => {:class => "input-mini"}, :error => false %>
                </div>
              </div>
              <div id="offer_percent_discount" class="offer_toggle">
                <%= f.input :percent_discount, :input_html => {:class => "input-mini"}, :error => false %>
              </div>
              <div id="offer_free_text" class="offer_toggle"></div>
              <div class="span12">
                <%= f.input :short_title, :input_html => {:class => "span10"} %>
              </div>
              <div class="span12">
                <%= f.input :description, :input_html => {:class => "span10"} %>
              </div>
              <div class="span12">
                <div class="span6">
                  <%= f.association :category, :label => 'Choose a Category:', :class => "span6" %>
                </div>
                <div class="span6">
                  <%= f.input :quantity_limit, :input_html => {:class => "input-mini"} %>
                </div>
              </div>
              <div class="input span12">
                <label class="string required" for="offer_period_end">
                  <abbr title="required">*</abbr>
                  Specify the period for the offer
                  (max duration defined for current Plan is <%= @offer.max_offer_duration %> days)
                </label>
                <%= f.input_field :period_start, :as => :string, :class => 'input-small', :value => f.object.period_start.nil? ? '' : l(f.object.period_start.to_date), :readonly => true %>
                —
                <%= f.input_field :period_end, :as => :string, :class => 'input-small', :value => f.object.period_end.nil? ? '' : l(f.object.period_end.to_date) %>
              </div>

              <div class="span12">
                <br/>
                <label for="image">
                  Optionally, choose an image
                </label>
                <%= f.file_field :image  %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-column span6">
        <fieldset>
          <legend>Location(s)</legend>

          <% if @offer.company.locations.empty? %>
              <%= f.input :use_all_locations, :as => :radio, :collection => [['All Locations', true], ['Chosen Locations', false]], :label => false, :input_html => {:value => true, :readonly => true}, :selected => true, :disabled => 'disabled', :checked => true %>
              <%= hidden_field_tag :use_all_locations, true %>

          <% else %>
              <%= hidden_field_tag "offer[location_ids][]", nil %>
              <%= f.input :use_all_locations, :as => :radio, :collection => [['All Locations', true], ['Chosen Locations', false]], :label => false %>
              <div class="input checkbox optional offer_locations">
                <% @offer.company.locations.each do |location| %>
                <span>
                    <%= check_box_tag "offer[location_ids][]", location.id, @offer.location_ids.include?(location.id), id: dom_id(location), class: 'checkbox' %>
                  <%= label_tag dom_id(location), "#{location.name} - #{location.formatted_address}" %>
                </span>
                <% end %>
              </div>
          <% end %>
        </fieldset>

        <fieldset>
          <legend>Hours</legend>
          <p>Specify the time of day when the offer can be redeemed</p>
          <%= f.input :use_location_hours, :as => :radio, :collection => [['Any time during opening hours', true], ['Customized', false]], :label => false %>

          <div class="input checkbox optional offer_hours">
            <div>
              <%= f.simple_fields_for :time_table do |t| %>
                  <table cellspacing="5" cellpadding="5" width="100%">
                    <% [:mon, :tue, :wed, :thu, :fri, :sat, :sun].each do |day| %>
                        <tr>
                          <td><%= t.input_field day, :as => :boolean %></td>
                          <td><%= day %></td>
                          <td>
                            <%= t.input_field "#{day}_start", :id => "#{day}_start", :as => :string, :style => 'width:40px', :size => 10, :value => t.object.send("#{day}_start").nil? ? '' : t.object.send("#{day}_start").strftime("%H:%M")  %> &mdash;
                            <%= t.input_field "#{day}_end", :id => "#{day}_end", :as => :string, :style => 'width:40px', :size => 10, :value => t.object.send("#{day}_end").nil? ? '' : t.object.send("#{day}_end").strftime("%H:%M")  %>
                          </td>
                          <td width="60%">
                            <div id="<%= day %>_slider"></div>
                          </td>
                        </tr>
                    <% end %>
                  </table>
              <% end %>
            </div>
          </div>
        </fieldset>

      </div>
    </div>
    <div class="row-fluid">
      <div classs="span12">
        <div class="form-actions">
          <input id="max_offer_duration" type="hidden" value="<%= @offer.max_offer_duration %>" disabled="disabled">
          <%= f.hidden_field :company_id %>
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), my_account_merchant_path(@offer.company), :class => 'btn' %>
        </div>
      </div>
    </div>
<% end %>
