<%- model_class = Offer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:kind) %></th>
      <th><%= model_class.human_attribute_name(:is_redemption) %></th>
      <th><%= model_class.human_attribute_name(:reduced_price) %></th>
      <th><%= model_class.human_attribute_name(:normal_price) %></th>
      <th><%= model_class.human_attribute_name(:short_title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:image_file_name) %></th>
      <th><%= model_class.human_attribute_name(:image_content_type) %></th>
      <th><%= model_class.human_attribute_name(:image_file_size) %></th>
      <th><%= model_class.human_attribute_name(:image_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:terms_and_conditions) %></th>
      <th><%= model_class.human_attribute_name(:use_location_hours) %></th>
      <th><%= model_class.human_attribute_name(:use_all_locations) %></th>
      <th><%= model_class.human_attribute_name(:quantity_limit) %></th>
      <th><%= model_class.human_attribute_name(:period_start) %></th>
      <th><%= model_class.human_attribute_name(:period_end) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:company_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to offer.id, offer_path(offer) %></td>
        <td><%= offer.kind %></td>
        <td><%= offer.is_redemption %></td>
        <td><%= offer.reduced_price %></td>
        <td><%= offer.normal_price %></td>
        <td><%= offer.short_title %></td>
        <td><%= offer.description %></td>
        <td><%= offer.image_file_name %></td>
        <td><%= offer.image_content_type %></td>
        <td><%= offer.image_file_size %></td>
        <td><%= offer.image_updated_at %></td>
        <td><%= offer.terms_and_conditions %></td>
        <td><%= offer.use_location_hours %></td>
        <td><%= offer.use_all_locations %></td>
        <td><%= offer.quantity_limit %></td>
        <td><%= offer.period_start %></td>
        <td><%= offer.period_end %></td>
        <td><%= offer.category_id %></td>
        <td><%= offer.company_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_offer_path(offer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      offer_path(offer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_offer_path,
            :class => 'btn btn-primary' %>
