<%- model_class = Offer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:kind) %>:</strong></dt>
  <dd><%= @offer.kind %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_redemption) %>:</strong></dt>
  <dd><%= @offer.is_redemption %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reduced_price) %>:</strong></dt>
  <dd><%= @offer.reduced_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:normal_price) %>:</strong></dt>
  <dd><%= @offer.normal_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_title) %>:</strong></dt>
  <dd><%= @offer.short_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @offer.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_file_name) %>:</strong></dt>
  <dd><%= @offer.image_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_content_type) %>:</strong></dt>
  <dd><%= @offer.image_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_file_size) %>:</strong></dt>
  <dd><%= @offer.image_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_updated_at) %>:</strong></dt>
  <dd><%= @offer.image_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:terms_and_conditions) %>:</strong></dt>
  <dd><%= @offer.terms_and_conditions %></dd>
  <dt><strong><%= model_class.human_attribute_name(:use_location_hours) %>:</strong></dt>
  <dd><%= @offer.use_location_hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:use_all_locations) %>:</strong></dt>
  <dd><%= @offer.use_all_locations %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity_limit) %>:</strong></dt>
  <dd><%= @offer.quantity_limit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:period_start) %>:</strong></dt>
  <dd><%= @offer.period_start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:period_end) %>:</strong></dt>
  <dd><%= @offer.period_end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @offer.category_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @offer.company_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              offers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_offer_path(@offer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              offer_path(@offer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
