#= require jquery
#= require jquery_ujs
#= require jquery.turbolinks
#= require turbolinks
#= require twitter/bootstrap
#= require jquery.ui.autocomplete
#= require jquery.ui.slider
#= require i18n
#= require i18n/translations
#= require bootstrap-datepicker
#= require paloma
#= require vendor/highcharts
#= require vendor/chartkick
#= require_tree .

'use strict'

I18n.defaultLocale = '<%= I18n.default_locale %>'
I18n.locale = $('html').attr 'lang'

startSpinner = ->
  $('#loading-spinner').show()

stopSpinner = ->
  $('#loading-spinner').fadeOut()

# Turbolinks Spinner
document.addEventListener 'page:fetch', startSpinner
document.addEventListener 'page:receive', stopSpinner

$(document).ready ->
	FORMAT =  "dd.mm.yyyy"
	$('input.date').each  (i, elem) =>
		current = moment($(elem).val(), FORMAT)
		$(elem).datepicker({
			format: FORMAT
		})
		#$(elem).datepicker 'setDate', $(elem).val()
