/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= stub stubs/variables_overrides.css.less
 *= require jquery.ui.all
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

@import "stubs/variables_overrides.css.less";
@import "bootstrap_and_overrides.css.less";

.row-fluid .form-column [class*="span"] {
	margin-left: 0;
}

.form-column div.input {
	padding-top: 10px;
}

.form-column fieldset {
	margin-top: 10px;
}


#login fieldset {
  margin-top: 20px;
}

#login {
  margin-top: 50px;
  min-width: 250px;
}

table .btn-group ul.dropdown-menu {
  right: 0;
  left: auto;
}

ul.nav > li {
  margin-left: 20px;
}
form {margin: 0px 0px 0px !important;}
.btn-warning{background-color:#EE2F58 !important; background-image:linear-gradient(to bottom, #EE2F58, #EE2F58) !important}
