#map-frame {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	/*box-shadow: 0 0 20px #999999;*/
	padding: 15px;
}

/* bootstrap map fix */
#map-frame img {
	max-width:none;
}
#map-frame label {
	width: auto; display:inline; 
}

#gmaps-canvas {
	height: 400px;
}
