#offers-thumbs-section {
    margin-top: 100px;
}


#offer-thumbs-section .thumbnails {
    display: inline-block;
    list-style: none outside none;
    margin: 20px 0 10px;
    text-align: center;
}

.thumbnails li.offer {
    background-color: #F6F6F6;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
    background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
    display: inline-block;
    line-height: 18px;
    margin-right: 10px;
    margin-left: 0px;
    padding: 0 20px;
}
.thumbnails li.offer {
    min-width: 120px;
    min-height: 200px;
}

.thumbnails li.offer .offer-detail {
    margin-top: 10px;
}

.thumbnails li.offer h1 {
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 20px;
}

/*.thumbnails li.offer a {*/
    /*text-align: center !important;*/
    /*display: block;*/
    /*color: #666666;*/
    /*text-shadow: 0 1px 0 #ffffff;*/
/*}*/
/*.thumbnails li.offer a i[class^="icon-"] {*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*background-position: 0 0;*/
    /*background-color: transparent;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*display: block;*/
    /*margin: 0 auto 5px;*/
/*}*/

.thumbnails .btn-group ul.dropdown-menu {
    right: 0;
    left: auto;
}

.thumbnails li.offer .btn-group {
    margin-top: 5px;
}
