.offer-title {
    font-weight: bolder;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
}

.offer-badge {
	background-color: #B94A48;
	border-radius: 50px 50px 50px 50px;
	line-height: 50px;
	padding: 25px 10px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}

.offer-caption {
	margin-top: 5px;
	padding: 10px 0;
}

.validity {
	font-weight: bolder;
	letter-spacing: 0.0125em;
	font-family: Gill Sans, Verdana, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #D2691E;
}

.offer-locations {
	margin-top: 15px;
	margin-bottom: 20px;
	border-top: 1px dotted #cdcdcd;
}

ul.locations {
    margin: 5px 0 0 0;
    list-style: none outside none;
    font-size: smaller;
}

ul.locations li {
    list-style: none outside none;
}

ul.location {
    margin: 0 0 0 0;
}

ul.locations > li {
    margin: 0 0 10px 0;
}

ul.location li.i1 {
    color: #D2691E;
    font-weight: bolder;
}

div.description {
    float:left;
    margin: 0 10px 0 10px;
}

.offer-timetable {
    font-size: smaller;
    margin-top: 15px;
}

.offer-timetable table td {
    text-align: center;
}

