<h1>Listing viewed_offers</h1>

<table>
  <thead>
    <tr>
      <th>Offer</th>
      <th>Customer</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @viewed_offers.each do |viewed_offer| %>
      <tr>
        <td><%= viewed_offer.offer %></td>
        <td><%= viewed_offer.customer %></td>
        <td><%= viewed_offer.user %></td>
        <td><%= link_to 'Show', viewed_offer %></td>
        <td><%= link_to 'Edit', edit_viewed_offer_path(viewed_offer) %></td>
        <td><%= link_to 'Destroy', viewed_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viewed offer', new_viewed_offer_path %>
