<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @viewed_offer.offer %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @viewed_offer.customer %>
</p>

<p>
  <strong>User:</strong>
  <%= @viewed_offer.user %>
</p>

<%= link_to 'Edit', edit_viewed_offer_path(@viewed_offer) %> |
<%= link_to 'Back', viewed_offers_path %>
