<p>Hello <%= @resource.email %>!</p>

<p>You have been invited to mobileGullak, you can accept it through the link below.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't wish to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>
