<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>

  <% if @user.company_id %>
    <%= f.association :company, :input_html => {:readonly => true} %>
  <% else %>
    <%= f.hidden_field :admin %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                (@user.company ? manage_admin_company_url(@user.company): admin_configuration_url), :class => 'btn' %>
  </div>
<% end %>
