<%- model_class = User -%>
<div class="page-header">
  <% if @user.company_id %>
      <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <% else %>
      <h1>New Admin User</h1>
  <% end %>
</div>
<%= render :partial => 'form' %>
