<div class="row">
	<div class="span6">
<table class="table">
	<thead>
		<tr>
			<th rowspan="2">Week</th>
			<% @stats[0][:data].each do |k, v| %>
				<th><%= Date.parse(k).strftime("%W") %></th>
			<% end %>
		</tr>
		<tr>
			<% @stats[0][:data].each do |k, v| %>
				<th><%= Date.parse(k).strftime("%e %b") %> - <%= (Date.parse(k) + 1.week).strftime("%e %b") %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @stats.each do |s| %>
			<tr>
				<td><%= s[:label] %></td>
				<% s[:data].each do |k,v|  %>
					<td><%= v %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
	</div>
	<div class="span6">
		<%= line_chart @stats, :library => {:curveType => 'none'} %>
	</div>
</div>

<br/>
<br/>
<br/>
<br/>

<div class="well">

<%= form_tag request.path, :method => 'get', :class => "form-search"  do %>
	<%= text_field_tag :search, params[:search], :placeholder => 'Search by name', :class => 'input-medium search-query with_autocomplete', 'data-autocompleteurl' => autocomplete_search_admin_companies_path %>
    <%= hidden_field_tag :page, 1 %>
	<%= link_to 'New Company',
		new_admin_company_path,
		:class => 'btn  pull-right' %>
<% end %>


</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Locations</th>
			<th>Offers</th>
			<th>Joined</th>
            <th>#Users</th>
			<th>Last Login</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @companies.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td><%= c.locations.length %></td>
			<td><%= c.offers.length %> </td>
			<td><%= l c.created_at.to_date %></td>
            <td><%= c.users.length %></td>
            <td><%= c.last_sign_in_at.nil?? '-': l(c.last_sign_in_at) %></td>
			<td>&nbsp;</td>
			<td>
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-cog"></i>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
						<%= link_to edit_admin_company_path(c) do %>
							<i class="icon-edit"></i>
							Edit 
						<% end %>
						</li>
						<li>
						<%= link_to manage_admin_company_path(c) do %>
							<i class="icon-wrench"></i>
							Manage
						<% end %>
						</li>
                        <li>
                        <%= link_to admin_company_path(c),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
							<i class="icon-remove"></i>
							Delete
						<% end %>
						</li>
						<li>
						<%= link_to my_account_merchant_path(c) do %>
							<i class="icon-arrow-right"></i>
							Merchant's Panel
						<% end %>
						</li>
					</ul>
				</div>
			</td>
		<% end %>
		</tr>
	</tbody>

</table>


<%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
