<%= simple_form_for [:admin, @subscription], :html => { :class => 'form-horizontal' } do |f| %>

  <div class="row">

	  <div class="span12">
		<%= f.association :plan %>
	  </div>

	  <div class="input span12">
		<%= label_tag :expires_at do %>
			<abbr title="required">*</abbr>
			Expires at
		<% end %>
		<div class="input-append">
			<%= f.input_field :expires_at, :class => 'date input-small', :placeholder => "#{l((Date.today + 1.month).to_date)}", :as => :string, :value => f.object.expires_at.nil? ? '' : l(f.object.expires_at.to_date) %>
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
	  </div>

	  <div class="span12">
  <div class="form-actions">
  <%= f.hidden_field :company_id %>
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manage_admin_company_url(@subscription.company), :class => 'btn' %>
	</div>
</div>


  </div>
<% end %>
