    <%= render :partial => 'locations_map' %>

    <div class="row">
        <div class="span12">
            <%= text_field_tag 'gmaps-input-address', nil, :placeholder => 'Type a location to help position the map or navigate and right click', :style => 'width:100%' %>
        </div>
    </div>

    <%= simple_form_for [@company, @location], :html => { :class => 'form-horizontal' } do |f| %>

    <div class="row">
		  <div id="map-frame" class="span12">
			  <div id="gmaps-canvas">
			  </div>
		  </div>
		  <div id="gmaps-error" class="span12"></div>		  

    	<div class="span12">

            <% if @location.errors.any? %>
                <div class="alert alert-block alert-error span11">
                    <ul>
                    <% @location.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>


			<div class="span4">
                <%= f.input :name %>
                <!--<%#= f.input :website %>-->
                <%= f.input :phone %>
		<%= f.input :macwifi_address, label: 'Wifi Mac Address' %>
			</div>

			<div class="span4">
                <%= f.input :street_address %>
                <%= f.input :zipcode %>
                <%= f.input :city %>
                <%= f.input :region %>
            </div>

			<div class="span3">
                <%= f.simple_fields_for :time_table do |t| %>
                    <table>
                    <% [:mon, :tue, :wed, :thu, :fri, :sat, :sun].each do |day| %>
                        <tr>
                        <td><%= t.input_field day, :as => :boolean %></td>
                        <td><%= day %></td>
                        <td><%= t.input_field "#{day}_start", :as => :string, :style => 'width:40px', :size => 10, :value => t.object.send("#{day}_start").nil? ? '' : t.object.send("#{day}_start").strftime("%H:%M")  %> &mdash;</td>
                        <td><%= t.input_field "#{day}_end", :as => :string, :style => 'width:40px', :size => 10, :value => t.object.send("#{day}_end").nil? ? '' : t.object.send("#{day}_end").strftime("%H:%M")  %></td>
                        </tr>
                    <% end %>
                    </table>
                <% end %>
			</div>

            <div class="span12">
                <div class="form-actions">
                    <%= f.hidden_field :company_id %>
                    <%= f.hidden_field :latitude, :id => 'gmaps-output-latitude'  %>
                    <%= f.hidden_field :longitude, :id => 'gmaps-output-longitude' %>
                    <%= f.button :submit, :class => 'btn btn-primary' %>
                    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        my_account_merchant_path(@company), :class => 'btn' %>
                </div>
            </div>

        </div>
    <% end %>

</div>


