<script>
    gmaps_locations = [];
    <% @company.locations.each_with_index do |location, index| %>
    <% if location.id != @location.id and location.latitude and location.longitude %>
    gmaps_locations.push([<%= index + 1 %>, <%= location.latitude %>, <%= location.longitude %>]);
    <% end %>
    <% end %>
    <% if @location.latitude and @location.longitude %>
    gmaps_center = [<%= @location.latitude %>, <%= @location.longitude %>];
    <% end %>

    load_gmaps();
</script>
